[req]
default_bits = 2048
prompt = yes
distinguished_name = req_dn
x509_extensions = req_ext

[req_dn]
C=HK
ST=Hong Kong
L=Hong Kong
CN=springboot-http2.hung.org.hk
emailAddress=kwonghung.yip@gmail.com

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1 = localhost
DNS.2 = springboot-http2.hung.org.hk
DNS.3 = springboot-http2

