[ req ]
default_bits = 4096
prompt = no
distinguished_name = req_dn
x509_extensions = extensions

[ req_dn ]
C=HK
ST=Hong Kong
L=Hong Kong
O=For Demo Only
CN=hung.org.hk
emailAddress=kwonghung.yip@gmail.com

[ extends ]
basicConstraints = critical,CA:TRUE,pathlen:3
keyUsage = critical,keyCertSign,cRLSign
subjectKeyIdentifier = hash
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = *.hung.org.hk
